---
---
$themeColor: #b0ad92;
$primaryDark: #141414;
$accentDark: #ffffff;
$lightGray: #f2f2f2;
$texts: #333333;

@import "jekflix";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
