---
---
$themeColor: #b0ad92;
$primaryDark: #141414;
$accentDark: #ffffff;
$lightGray: #f2f2f2;
$texts: #333333;

@import "jekflix";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

body {
    color: var(--light-text-color);
    background-color: var(--main-background-color);
}

a {
    color: var(--link-color);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--main-text-color);
}