<!doctype html>
  <head>
    <meta charset="utf-8">
    <title>CV for Michael F. McCoy III</title>
    <meta name="description" content="CV for Michael F. McCoy III.">
    <style>
      body {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        overflow: hidden;
      }
      iframe {
        width: 80%;
        height: 100vh;
        border: 0px solid #ccc;
      }
    </style>
  </head>
  <body>
    <iframe src="https://mmccoy-01.github.io/cv/cv-mfm.pdf"></iframe>
  </body>
</html>